CARE_OUTBOX_WORKER_ENABLED=true
CARE_OUTBOX_WORKER_ID=replace-with-stable-instance-id
CARE_SERVICE_RUNTIME_MODULE=replace-with-t00-runtime-module.js
CARE_OUTBOX_BATCH_SIZE=20
CARE_OUTBOX_LEASE_SECONDS=60
CARE_OUTBOX_MAX_ATTEMPTS=5
CARE_OUTBOX_RETRY_BASE_SECONDS=30
CARE_OUTBOX_MAX_RETRY_SECONDS=1800
CARE_OUTBOX_MAX_PENDING_AGE_SECONDS=300
