[Unit]
Description=Schedule health platform durable object storage command worker v2

[Timer]
OnBootSec=60s
OnUnitActiveSec=20s
RandomizedDelaySec=5s
Persistent=false
Unit=object-storage-command-worker.service

[Install]
WantedBy=timers.target
