HAPI_DB_PASSWORD=replace-with-strong-password
ORTHANC_USERNAME=orthanc
ORTHANC_PASSWORD=replace-with-strong-password
ORTHANC_AUTHENTICATION_ENABLED=false
HAPI_FHIR_PORT=8080
ORTHANC_PORT=8042
ORTHANC_DICOM_PORT=4242
OHIF_PORT=3000
